.hero{
    width: 90%;
    padding-top: 25px;
    position: relative;
    padding-bottom: 450px;
    transition: 0;
    *{
        transition: 0;
    }
}
.Slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
}
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}
.slide {
    width: 100%;
    display: none;
    animation: fade 1s ease-out;
    position: relative;
}
.slide img {
    border-radius: 50px;
    width: 100%;
    height: 380px;
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}