.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contactus{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    p{
        font-size: 40px;
        font-weight: 600;
    }
    div{
        width: 15%;
        p{
            font-size: medium;
            font-weight: normal;
        }
        strong{
            font-weight: 500;
        }
    }
}
.mapcontainer{
    width: 90%;
    height: 600px;
    background-image:  url(../../assets/map3.svg) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 25px;
    border-radius: 15px;
}
.mapval{
        width: 90%;
        height: 120px;
        background: white;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        
        button{
            width: 150px;
            height: 40px;
            border: none;
            border-radius: 100px;
            background: rgba(69, 69, 69, 1);
            color: white;
        }
}
.mapval2{
    padding-top: 20px;
    flex-direction: column;
    width: 80%;
    border-radius: 15px;
    gap: 20px;    
    button{
        margin: 0 auto;
        width: 70%;
        height: 40px;
        border: none;
        border-radius: 100px;
        background: rgba(69, 69, 69, 1);
        color: white;
    }
}
.mapval2{
    display: none;
}
@media screen and (max-width: 1100px){
    .mapval{
        padding: 0;
    }
    .contactus{
        div{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
        }
    }
}
@media screen and (max-width: 600px){
    .contactus{
        flex-direction: column;
        gap: 10px;
    *{
        width: 100%;
    }
    div{
        width: 100%;
    }
    }

}
@media screen and (max-width: 700px){
    .mapval{
        display: none;
    }
    .mapval2{
        display: flex;
    }
    .mapcontainer{
        height: 350px;
        background-image:  url(../../assets/map4.svg) ;
    }
}
