.header{
    margin: 0 auto;
    width: 80%;
    max-width: 1280px;
    height: 50px;
    padding-top: 7px;
    padding-bottom: 100px;
    position: relative;
}
.phonenum button{
    width: 50px;
    height: 25px;
    border-radius: 100px;
    margin-top: 5px;
    font-size: 10px;
    border: none;
    color: white;
    background: rgb(96, 96, 96);
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    max-height: 35px;
    height: 35px;
    overflow: hidden;
    transition: 0 all;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        li{
            cursor: pointer;
            font-size: small;
            font-weight: 400;
            opacity: 0.7;
        }
    }
}
.phonenum{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    strong{
        font-weight: 600;
        font-size: small;
        cursor: pointer;
    }
    p{
        cursor: pointer;
        font-weight: 400;
        font-size: small;
    }
    select{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
}
.logos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    img{
        width: 150px;
        height: 100%;
        user-select: none;
    }
}
.catalog{
    width: 65%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.search{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: 80%;
    border-radius: 25px;
    input{
        width: 100%;
        border: none;
        padding-left: 20px;
        height: 100%;
        border-radius: 25px 0 0 25px;
        font-size: 100%;
    }
    input:focus {
        outline: none;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border: none;
        height: 100%;
        font-size: 130%;
        border-radius: 0 25px 25px 0;
        width: 50px;
    }
}
.unhider{
    display: none;
}
.catalogbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border-radius: 25px;
    border: none;
    background: rgba(69, 69, 69, 1);
    color: white;
    font-size: 100%;
    gap: 5px;
}
.pages{
    display: flex;
    gap: 15px;
}
.page{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p{
        font-size: 11.5px;
    }
}
.unhidercon{
    display: flex;
}
.likesup{
    position: absolute;
    left: 60%;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    color: white;
    border-radius: 50%;
    height: 14px;
    background: red;
}
.hiderkatalog{
    display: none;
    z-index: 999999999999999;
}
.labelnav{
    display: none;
}
.unhider{
    width: 100%;
    .search{
        width: 100%;
    }
}

.absolutecatelog{
    padding-top: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 9999;
    max-width: 1600px;
    button{
        width: 80%;
        height: 35px;
        border: none;
        color: white;
        background: rgba(69, 69, 69, 1);
        border-radius: 100px;
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
        
    }
    span{
        font-size: 14px;
        font-weight: 500;
        opacity: 0.6;
        margin-bottom: 20px;
    }
    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 10px;
        hr{
            width: 100%;
            border: 1px solid rgba(69, 69, 69, 1);
            opacity: 0.3;
        }
        li{
            width: 100%;
            display: flex;
            justify-content: center;
            opacity: 0.5;
            cursor: pointer;
        }
    }
}
.absolutecatelog select{
    width: 100px;
    height: 30px;
    border: none;
    margin-bottom: 10px;
    border-radius: 100px;
    padding-left: 10px;
}
@media screen and (max-width: 880px){
    .navbar{
        display: none;
    }
    .header{
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 1250px){
    .phonenum strong{
        display: none;
    }
    .navbar ul li{
        font-size: 70%;
    }
}
@media screen and (max-width: 1060px){
    .navbar ul li{
        font-size: 60%;
    }
}
@media screen and (max-width: 1090px){
    .catalogbtn{
        display: none;
    }
}
@media screen and (max-width: 780px){
    .page p{
        display: none;
    }
    .hider{
        display: none;
    }
}
@media screen and (max-width: 650px){
    .absolutecatelog{
        display: flex;
    }
    .search{
        display: none;
    }
    .catalog{
        display: none;
    }
    .labelnav{
        display: flex;
    }
    .unhider{
        display: flex;
        width: 100%;
        height: 40px;
    }
    .header{
        position: sticky;
        top: 0;
        padding: 0;
        background: white;
        z-index: 99999999999999999999999999;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        height: 90px;
    }
    .hiderkatalog{
        display: flex;
        border: none;
        background: white;
        font-size: 130%;
        width: 35px;
    }
    .logos{
        gap: 20px;
    }
}
.search{
    position: relative;
}
.searched{
    position: absolute;
    background: white;
    list-style: none;
    top: 60px;
    left: 0;
    width: 100%;
    border-radius: 10px;
    z-index: 99999999999;
    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 25px;
        width: 100%;
        padding-left: 10px;
        height: 55px;
        margin-bottom: 5px;
        div{
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
        }
        img{
            width: 70px;
            height: 50px;
        }
    }
}